extends ../layout.jade

block body
  if data.errors
    each error in data.errors
      p
        b #{error}

  h1 Login

  form(action = '/auth/local', method = 'post')
    input(type = 'text', name = 'identifier', placeholder = 'Username or Email', required)
    input(type = 'password', name = 'password', placeholder = 'Password', required)
    button(type = 'submit') Sign in

  h1 Register

  form(action = '/auth/local/register', method = 'post')
    input(type = 'text', name = 'username', placeholder = 'Username or Email', required)
    input(type = 'text', name = 'email', placeholder = 'Email', required)
    input(type = 'password', name = 'password', placeholder = 'Password', required)
    button(type = 'submit') Sign up
