extends layout.jade

block body
  div.centered.align-center
    img.center(src='/images/logo.png')
    if (data.user)
      h2.primary-color Hello #{data.user.username}
      h3.primary-color What would you like to do? :)
      if (!data.userRoom)
        a.btn.btn-blue(href='/create') Create my room!
      else
        a.btn.btn-blue(href = "/" + data.userRoom) Join my room!
    else
      h1.primary-color Welcome to MeowDJ
      h2.primary-color Meow.dj is a room-based music sharing provider in Node.js
      a.btn.btn-blue(href='/login') Join The Party!
