extends layout.jade

block preInit
  script(src='/js/dependencies/sails.io.js')

block body
  div.header
    div.container
      img.logo(src='/images/logo-horizontal.png')

      div.join
        if (data.user)
          if (data.userRoom)
            button.button.red#room-join Join my room!
          else
            button.button.red#create Create my room!
        else
          button.button.red#login Join the party!

  div.content
    div.container
      div.quote
        p.character “
        p The only real comment from a piece of music is another piece of music.
        p.character.last ”
        p.author Igor Stravinski
