extends layout.jade

block preInit
  script(src='/js/dependencies/sails.io.js')

block body
  div.header
    div.container
      img.logo(src='/images/logo-horizontal.png')

      div.join
        if (data.user)
          if (data.userRoom)
            button.button.red#room-join Join my room!
          else
            button.button.red#create Create my room!
        else
          button.button.red#login Join the party!

  div.content
    div.container
      div.quote
        p.character “
        p The only real comment from a piece of music is another piece of music.
        p.character.last ”
        p.author Igor Stravinski

  div.footer
    div.container
      img.logo(src='/images/logo-cat.png')

      div.credits
        p #[span.red.octicon.octicon-code] with #[span.red.octicon.octicon-heart] by #[a(href='https://twitter.com/iamblueslime', target='_blank') @iamblueslime], #[a(href='https://twitter.com/ThogDev', target='_blank') @ThogDev], #[a(href='https://twitter.com/Kylian_LM', target='_blank') @Kylian_LM]
        p.last See on #[a(href='https://github.com/MeowDJ/MeowDJ', target='_blank') #[span.red.octicon.octicon-mark-github]]

      div.contact
        a(href='', target='_blank') #[img.twitter(src='/images/twitter.png')]
