extends layout.jade

block body
  div.centered.align-center
    img.center(src='/images/logo.png')
    h1.primary-color Welcome to MeowDJ
    h2.primary-color Meow.dj is a room-based music sharing provider in Node.js

