doctype html
head
  title #{title} • MeowDJ
  meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
  // SCRIPTS
  script(src="/js/dependencies/sails.io.js")
  // SCRIPTS END

  // STYLES
  link(rel="stylesheet", href="/styles/importer.css")
  // STYLES END

body
  block body
