// --------------------------
// Backgrounds
// --------------------------

@primary-background: #29282D;
@secondary-background: #E4D7C6;


// --------------------------
// Font
// --------------------------

@primary-font: #E4D7C6;
@secondary-font: #D5C0A6;
@terciary-font: #29282D;


// --------------------------
// Inputs
// --------------------------

@inputs-background: #252428;
@inputs-border-color: #201F23;


// --------------------------
// Buttons
// --------------------------

@buttons-primary-background: #E4D7C6;
@buttons-primary-border: #D5C0A6;

@buttons-red-background: #EE5B48;
@buttons-red-border: #EB3F29;
