extends ../layout.jade

block body
  div.centered.align-center.primary-color
    img.center(src='/common/images/logo.png')
    h2 Create a room
    if data.error
      p(style = "color: red;") #{data.error}
      a.btn.btn-blue(href = "/" + data.go) Join my room!
    else
      form(action = '/create', method = 'post')
        input.underline.primary-background(type = 'text', name = 'name', placeholder = 'Name of the room', required)
        a.btn.btn-blue(onclick="$(this).closest('form').submit()") Create
