extends ../layout.jade

block body
  h1 Create a room

  if data.error
    each error in data.error
      p
        b #{error}

  form(action = '/create', method = 'post')
    input(type = 'text', name = 'name', placeholder = 'Name of the room', required)
    button(type = 'submit') Create
