extends ../layout.jade

block preInit
  script(src='/js/dependencies/sails.io.js')
  script(src="https://www.youtube.com/iframe_api")

block body
  div.wrapper
    div.centered
      h2.primary-color I'm the room #{data.room.name}!
      h3.timer.primary-color ??? / ???
      div#player
      h2.primary-color Add to waiting room:
      div.input-group
        div.playlist
          form(action = '')
            input.underline.primary-color.primary-background(id = "url", type = "text", placeholder = "URL", autocomplete = "off")
            a.btn.btn-chat(onclick="$(this).closest('form').submit()") >

  div.chat
    ul.messages

    form(action = '')
      div.input-group
        input.underline.primary-color.secondary-background(id = "message", type = "text", placeholder = "Message...", autocomplete = "off")
        span.input-group-btn
          a.btn.btn-chat(onclick="$(this).closest('form').submit()") >
