extends ../layout.jade

block preInit
  script(src='/app/js/dependencies/sails.io.js')
  script(src='/app/js/room.js')

block body
  nav.topbar
    div.left
      a.p-box(href='/')
        div.icon.logo
      div.info
        p.top-label.playing ??? - ???
        p.top-label.dj-name ???
    div.right
      div.info
        p.top-label.volume-label 100%
        input(type = "range", min = "0", max = "100", value = "100").volume
  div.room-left
    div.playback
      div#player
      div#artwork(src="/common/images/logo.png")
      iframe#soundcloud-player(src="http://w.soundcloud.com/player?show_artwork=true&liking=false&show_comments=false&show_playcount=false&download=false&buying=false&show_user=false&sharing=false&auto_play=false")
      div.controls
        a.control-btn.media-select
          span Add music (YT/SC)
        p.control-btn.timer ??:??
  div.room-right
    div.chat
      ul.messages
    div.chat-box
      form(onsubmit='/')
        input.text(id='message', type='text', placeholder='Type and enter!', autocomplete='off')
  div.modal#media-queue
    div.modal-container
      div.modal-outbox
        div.modal-box
          div.modal-text
            p(style="margin-bottom: 15px") Media URL to add to waiting list:
            form(onsubmit='/')
              input.text(id='url', type='text', placeholder='URL', autocomplete='off')

block postInit
  script(src="https://www.youtube.com/iframe_api")
  script(src="http://w.soundcloud.com/player/api.js")
