extends ../layout.jade

block preInit
  script(src="https://www.youtube.com/iframe_api")

block body
  div.wrapper
    h2.primary-color I'm the room #{data.room.name}!
    div#player

  div.chat
    ul.messages

    form(action = '')
      div.input-group
        input.underline.primary-color.secondary-background(id = "message", type = "text", placeholder = "Message...", autocomplete = "off")
        span.input-group-btn
          a.btn.btn-chat(onclick="$(this).closest('form').submit()") >
