extends ../layout.jade

block body
  div.wrapper
    h2 Je suis la salle #{args.roomId} !

  div.chat
    ul.messages

    form(action = '')
      div.input-group
        input.form-control(id = "message", type = "text", placeholder = "Message...", autocomplete = "off")
        span.input-group-btn
          button.btn.btn-default >
